<html>
  <head>
    <link
      href='https://fonts.googleapis.com/css?family=Poppins'
      rel='stylesheet'
    />
  </head>
  <body
    style='width: 600px; margin: 0px auto; font-family: "Poppins", sans-serif;'
  >
    <table style='width: 100%;'>
      <tr>
        <td style='position: relative; padding-top: 30px; display:block;'>
          <table style='padding: 0px 45px 0 50px; height: 140px; width: 100%;'>
            <tr>
              <td style='text-align: right;'>
                <img
                  src='https://h2h-chat.test.neti-soft.com/h2h-logo.png'
                  alt='h2h-logo.png'
                  style='display: inline-block;'
                />
              </td>
            </tr>
          </table>
          <table style='height: 133px; background-color: #39aba4; width:100%;'>
            <tr>
              <td style='text-align: center; vertical-align: middle;'>
                <img
                  src='https://h2h-chat.test.neti-soft.com/login.png'
                  alt='login.png'
                />
              </td>
            </tr>
          </table>
          <table
            style='box-sizing: border-box; padding: 36px 45px 49px 50px; width: 100%;'
          >
            <tr>
              <td
                style='border: 1px solid #39aba4; border-radius: 16px; margin-top: 36px; margin-bottom: 85px; padding: 40px 30px;'
              >
                <div
                  style='text-align: center; color: #39aba4; font-size: 40px; font-weight: 500; margin-bottom: 10px;'
                >
                  {{t 'common.email-confirmation'}}
                </div>
                <div
                  style='text-align: center; font-size: 25px; font-weight: 300; line-height: 27px;'
                >
                  {{t 'common.email-confirmation-link'}}
                </div>
                <div style='margin: 40px 30px; cursor: pointer;'>
                  <table style='width: 100%; text-align: center;'>
                    <tr>
                      <td>
                        <a
                          href='{{url}}'
                          style='color: #fff; font-size: 25px; font-weight: 400; line-height: normal; background-color: #39aba4; text-decoration: none; display: inline-block; padding: 15px 30px; border-radius: 8px;'
                          target='_blank'
                        >
                          {{t 'common.email-confirm'}}
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
                <div
                  style='text-align: center; font-size: 25px; font-weight: 300; line-height: 27px;'
                >
                  {{t 'common.email-ignore-info'}}
                </div>
              </td>
            </tr>
          </table>
          <div style='text-align: center;'>
            <div
              style='width: 348px; background-color: #39aba4; height: 2px; margin-bottom: 28px; display: inline-block;'
            ></div>
          </div>
          <div style='display: inline-block;'>
            <img
              src='https://h2h-chat.test.neti-soft.com/h2h-logo.png'
              alt='h2h-logo.png'
              style='display: inline-block;'
            />
          </div>
          <div
            style='display: inline-block; float: right; position: relative; margin-top: 8px;'
          >
            <img
              src='https://h2h-chat.test.neti-soft.com/linkedIn.png'
              alt='linkedIn.png'
              style='margin-right: 39px;'
            />
            <img
              src='https://h2h-chat.test.neti-soft.com/globe.png'
              alt='globe.png'
            />
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>